/* 权限管理 */
.perission {
    width:840px;
    height:auto;
    margin-top:25px;
    margin-left:28px;
    display:inline;
    overflow:hidden;
}
.perission .create_role {
    width: 123px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E8E8E4;
    color: #555;
    font-size: 14px;
    overflow: hidden;
    margin-top: 5px;
    text-indent: 50px;
    background: url('/apps/study/Public/Images/Ilc/lesson.png') no-repeat -120px -38px;
    cursor: pointer;
    margin-bottom:16px;
}
.perission .create_role:hover {
    background-position: -120px 0px;
}
.perission_caption {
    width: 800px;
    height: 60px;
    padding-left: 20px;
    background: #26A75B;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.perission_caption li {
    float: left;
    height: 60px;
    line-height: 60px;
    
    text-align: center;
    color: white;
    font-size: 14px;
}
.perission_caption li.ch_nav input {
    _position:relative;
    _top:20px;
}
.perission_caption .edit span, .forbidden span ,.commision span, .userList  span{
    cursor:pointer;
}
.plist {
    background: #F2F2F2;
    border-bottom: 1px solid #E1DEDA;
}
.plist ul li {
    color:#424242;
}
.per_order input {
    margin-right:20px;
    text-indent:5px;
}
.filter .tools{
    width: 100%;
    height: auto;
    margin:0;
}
.tools {
    width: 800px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
.tools span {
    float: left;
    width: 66px;
    height: 28px;
    line-height: 28px;
    background: url('/apps/study/Public/Images/Ilc/toolbg.png') no-repeat;
    margin-right: 10px;
    color: #444;
    font-weight: normal;
    cursor: pointer;
}
.tools span.add i,.del i,.forbidden i,.resume i{
    float:left;
    width:15px;
    height:15px;
    margin-top:6px;
    margin-left:8px;
    margin-right:5px;
}
.tools span.add i{
    background:url('/apps/study/Public/Images/Ilc/plus.png') no-repeat;
}
.tools span.edit i{
    background:url('/apps/study/Public/Images/Ilc/plus.png') no-repeat;
}
.tools span.del i{
    background:url('/apps/study/Public/Images/Ilc/plus.png') no-repeat;
}
.tools span.forbidden i{
    background:url('/apps/study/Public/Images/Ilc/locked.png') no-repeat;
}
.tools span.resume i{
    background:url('/apps/study/Public/Images/Ilc/ok.png') no-repeat;
}
/* 权限管理--创建组窗口 */
#createGroup p {
    float: left;
    width: 100%;
    margin-top: 15px;
}
#createGroup p label {
    float: left;
    width: 65px;
    line-height: 29px;
    font-size: 14px;
    color: #494949;
    font-weight: normal;
    text-align:right;
}
#createGroup p input {
    width: 300px;
    height: 28px;
    line-height:28px;
    text-indent:5px;
}
#createGroup p select {
    width:120px;
    height: 26px;
}
/* 权限管理--授权页面 */
.accredit {
    width:840px;
    height:auto;
    margin-top:25px;
    margin-left:28px;
}
.accredit p.groupname{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: normal;
    background:none;
}
.accredit p.groupname span {
    display:block;
    float:left;
    height:50px;
    line-height:50px;
    padding:0px 10px;
    font-size:18px;
    font-weight:normal;
    background:url("/apps/study/Public/Images/Home/xin_select.png") no-repeat bottom ;
}
.accredit div div {
    float: left;
    width: 780px;
    height: auto;
    margin-bottom: 20px;
    background: #F5F5F3;
    padding: 10px 20px 20px 20px;
}
.accredit div p {
    float:left;
    width:120px;
    height:40px;
    line-height:40px;
    background: #F5F5F3;
    text-align:center;
    font-size:16px;
}
.accredit div p.on {
    color:#3CBC8B;
    font-weight: normal;
}
.accredit div div span {
    float:left;
    padding: 5px 20px;
    margin:15px 20px 0 0;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #20D691;
}
.accredit div div span.on{
    background: url("/apps/study/Public/Images/Ilc/hitchoose.png") no-repeat;
    background-position: right top;
    border: 0;
    cursor: pointer;
    border: 1px solid #20D691;
}
.accredit a.accredit_save {
    float:right;
    width:174px;
    height:38px;
    line-height:38px;
    text-align:center;
    background:url('/apps/study/Public/Images/Ilc/btns.png') no-repeat 0px 0px;
    margin-right:20px;
    color:#fff;
    font-size:14px;
}
.accredit a.accredit_save:hover {
    background:url('/apps/study/Public/Images/Ilc/btns.png') no-repeat 0px -38px;
}
/* 权限管理--用户列表页面 */
.accredit .user_list p {
    float: left;
    background: #F5F5F3;
}
.accredit .user_list p span {
    float: left;
    display:block;
    height: 40px;
    line-height: 40px;
    background: #F5F5F3;
    text-align: center;
    font-size: 16px;
}
.accredit .user_list p cite {
    display:inline;
    margin-left:10px;
    font-size:14px;
    cursor:pointer;
}
.accredit .user_list ul {
    float:left;
    width:800px;
    height:auto;
    background: #F5F5F3;
    padding:20px;
}
.accredit .user_list ul li {
    float:left;
    position:relative;
    margin-right:20px;
}
.accredit .user_list ul li span {
    float: left;
    padding: 5px 20px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #20D691;
}
.accredit .user_list ul li .user_del {
    position: absolute;
    display:none;
    right: -8px;
    top: -8px;
    width: 18px;
    height: 17px;
    background: url("/apps/study/Public/Images/Ilc/delUser.png") no-repeat;
}
.accredit .user_list ul li .user_del:hover {
    background: url("/apps/study/Public/Images/Ilc/delUserHover.png") no-repeat;
    cursor:pointer;
}
#addUser .filter p {
    float:left;
    display:inline;
    margin-right:10px;
}
#addUser .filter p.searchUser {
    width:86px;
    height:39px;
    background: url("/apps/study/Public/Images/Ilc/searchBtn.png") no-repeat;
    cursor:pointer;
}
#addUser p label {
    float: left;
    width:60px;
    line-height: 35px;
    padding-right: 10px;
    font-size: 14px;
    color: #494949;
    font-weight: normal;
}
#addUser p input {
    float: left;
    width: 150px;
    height: 35px;
    line-height: 35px;
    margin-right: 3px;
    text-indent:5px;
}
#addUser .filter {
    display:block;
    margin-top: 15px;
    float: left;
    width: 100%;
}
#addUser .searchList {
    margin-top:20px;
    margin-left:10px;
}
#addUser .searchList li {
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#addUser .searchList li span {
    float: left;
    padding: 5px 20px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #20D691;
}
#addUser .searchList li span.on {
    background: url("/apps/study/Public/Images/Ilc/hitchoose.png") no-repeat;
    background-position: right top;
    border: 0;
    cursor: pointer;
    border: 1px solid #20D691;
}
#roleList .plist li input {
    *margin-top:-20px;
    _margin-top:20px;
}
#roleList .plist li img {
    *margin-top:-10px;
    _margin-top:20px;
}