.found_classname {
    width:513px;
    float:left;
    background:#fff;
    border:1px solid #e3e3e3;
}
.found_classname h4 {
    margin:10px 0px 10px 20px;
    font-size:14px;
}
.found_classname .classname_main {
    float:left;
    width:473px;
    padding:10px 20px;
    border:1px solid #e3e3e3;
}
.found_classname .classname_main select {
    width:150px;
    height:28px;
    margin:5px 5px 5px 0px;
    line-height:28px;
}
.classname_search {
    margin-top:10px;
}
.found_classname input {
    float:left;
    width:215px;
    height:35px;
    padding-left:5px;
    line-height:35px;
}
.found_classname .classname_search {
    float:left;
    width:80px;
    height:28px;
    line-height:28px;
    cursor:pointer;
}