<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>

<body>
    <!-- 整体 -->
    <div class="container-fluid padding">
        <!-- 欢迎导航 -->
        <header>
            <img src="images/index/left-top-right.gif" class="pull-left">
            <p class="pull-left text-center"> 欢迎界面</p>
            <img src="images/index/nav-right-bg.gif" class="pull-right">
        </header>
        <!-- 主体内容部分 -->
        <div class="welcome-body clearfix">
            <!-- 中间内容 -->
            <div class="col-xs-12 col-md-12 body-main">
                <div class="row main">
                    <!-- 内容左侧 -->
                    <div class="col-xs-12 col-md-7">
                        <!-- 提示文本 -->
                        <div class="main-left-pgroup">
                            <h4>感谢您使用 商家信息网 网站管理系统程序</h4>
                            <p>提示</p>
                            <p>您现在使用的是www.865171.cn开发的一套用于构建商务信息类门户型网站的专业系统！如果您有任何疑问请点左下解的<a href="#">在线客服</a>进行咨询！</p>
                            <p>七大栏目完美整合，一站通使用方式，功能强大，操作简单，后台操作易如反掌，只需会打字，会上网，就会管理网站！</p>
                            <p>此程序是您建立地区级商家信息门户的首选方案！</p>
                        </div>
                        <div class="col-xs-12 col-md-12 main-left-ul">
                            <ul class="list-unstyled list-inline">
                                <li>验证信息</li>
                                <li>统计信息</li>
                                <li>系统参数</li>
                                <li>版权声明</li>
                            </ul>
                            <div class="col-xs-12 col-md-12 main-left-ul-desc">
                                <div class="col-xs-12 col-md-12 padding main-left-ul-content">
                                    <h6>亲爱的管理员：</h6>
                                    <p>您有未验证分类信息：</p>
                                    <p>您有未验证广告张贴：</p>
                                    <p>您有未验证商家展示：</p>
                                    <p>您有未验证网上商城：</p>
                                    <p>您有未验证网上名片：</p>
                                    <p>您有未验证市场联盟：</p>
                                    <p>您有未验证市场资讯：</p>
                                    <p>您有未验证商家商品：</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 内容右侧 -->
                    <div class="col-xs-12 col-md-5 main-right">
                        <div class="col-xs-11 col-md-11 news main-left-pgroup">
                            <h6>最新动态</h6>
                            <p>七大栏目完美整合，一站通使用方式，功能强大，操作简单，后台操作易如反掌，只需会打字，会上网，就会管理网站！</p>
                            <p>七大栏目完美整合，一站通使用方式，功能强大，操作简单，后台操作易如反掌，只需会打字，会上网，就会管理网站！</p>
                        </div>
                        <div class="col-xs-11 col-md-11 news instruction">
                            <h6>程序说明</h6>
                            <textarea class="form-control" rows="10">一、专业的地区级商家门户建站首选方案！ 二、全站一号通，一次注册，终身使用，一个帐号，全站通用！ 三、分类信息、商家展示（百业联盟）、网上商城、网上名片（网上黄页）、广告张贴、市场联盟、市场资讯七大栏目完美整合。 四、界面设计精美，后台功能强大。傻瓜式后台操作，无需专业的网站制作知识，只要会打字，就会管理维护网站。
                            </textarea>
                        </div>
                    </div>
                </div>
                <!-- 内容底部 -->
                <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <address>
                        <p>客户服务邮箱：215288671@qq.com</p>
                        <p>官方网站：http://www.865171.cn</p>
                    </address>
                </div>
            </div>
            <!-- 左侧背景 -->
            <div class="body-left-bg"></div>
            <!-- 右侧背景 -->
            <div class="body-right-bg"></div>
        </div>
        <footer>
            <img src="images/index/buttom_left2.gif" class="pull-left">
            <img src="images/index/buttom_right2.gif" class="pull-right">
        </footer>
    </div>
</body>

</html>
