.onShow
{
    background:url(./onShow.gif) no-repeat; 
    padding-left:25px; 
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
    background:#E9F0FF url(./onFocus.gif) no-repeat; 
    padding-left:25px; 
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
    background:#FFF2E9 url(./onError.gif) no-repeat;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onCorrect
{
    background:#E9FFEB url(./onCorrect.gif) no-repeat;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(./onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 

.inputOnShow
{
	color: #999999
}