.mainBox {
    float:left;
    width:785px;
    height:auto;
    margin-top:25px;
}
.mainBox ul.mainBox_tab_menu {
    float:left;
    width:100%;
    height:auto;
    overflow: hidden;
}
.mainBox ul.mainBox_tab_menu li {
    float:left;
    width:150px;
    height:50px;
    line-height:50px;
    margin-right:20px;
    font-size:18px;
    color:#99999d;
    text-align: center;
    cursor:pointer;
}
.mainBox ul.mainBox_tab_menu li.selected {
    font-weight: 400;
    color:#080808;
}
.mainBox_tab_menu li.current {
    color:#080808;
    font-weight: 400;
    cursor:pointer;
}
.mainBox_tab_box > div {
    float: left;
    width:100%;
    background: #F3F2F0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
ul.course_list li.listli {
    float:left;
    width:235px;
    height:267px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    margin:10px 5px 8px 20px;
    background:#F3F2F0;
    border-radius:5px;
    position:relative;
    overflow: hidden;
    display:inline;
}
ul.course_list li.nobg{
    box-shadow: none;
    background:none;
}
ul.course_list li.nobg img {
    margin:0;
}
ul.course_list li div.pic {
    float:left;
    padding: 11px 0 5px 11px;
}
ul.course_list li div.pic img{
    width:210px;
    height:140px;
    cursor:pointer;
}
._ptitle .sortby{
    background:url("../Images/sortDown.png") no-repeat;
    cursor:pointer;
}
._ptitle .on{
    background:url("../Images/sortUp.png") no-repeat;
}
._ptitle .hw_num{
    background-position:45px 26px;
}
._ptitle .hw_time{
    background-position:103px 26px;
}
.course_cover {
    position:absolute;
    top:-140px;
    left:11px;
    float:left;
    width:210px;
    height:140px;
    background:#000;
    background-color:rgba(0,0,0,0.7);
    /*filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;*/
}
.courseInfo {
    width: 205px;
    float: left;
    padding: 0 15px 11px 15px;
}
.courseInfo a {
    color:#5E5D58;
    font-weight: 400;
    font-size:18px;
    cursor:pointer;
}
.courseInfo a.title {
    float:left;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}
.courseInfo p {
    float:left;
    width:212px;
    display:block;
    margin-top:5px;
    color:#A09C96;
    font-size:14px;
    overflow: hidden;
    white-space: nowrap;
}
.course_cover ul.tool_list li {
    float: left;
    width: 70px;
    height: 26px;
    margin: 13px 5px 0 20px;
    _margin: 6px 3px 0 12px;
    background: none;
    border: none;
    box-shadow: none;
}
.course_cover ul.tool_list li a {
    float:left;
    text-align:center;
    width:80px;
    color:#8F8C86;
    cursor:pointer;
}
.course_cover ul.tool_list li a i {
    margin-left:15px;
    font-size:12px;
}
.course_cover ul.tool_list a.cShare {
    background:url('../Images/cShare.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cShare:hover {
    background:url('../Images/chShare.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cEdit {
    background:url('../Images/cEdit.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cEdit:hover {
    background:url('../Images/chEdit.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cIn {
    background:url('../Images/cIn.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cIn:hover {
    background:url('../Images/chIn.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cClone {
    background:url('../Images/cClone.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cClone:hover {
    background:url('../Images/chClone.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cExport {
    background:url('../Images/cExport.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cExport:hover {
    background:url('../Images/chExport.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cDel {
    background:url('../Images/cDel.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list a.cDel:hover {
    background:url('../Images/chDel.png') no-repeat;
    background-position: 0px center;
    height:40px;
    line-height:40px;
}
.course_cover ul.tool_list li a:hover {
    color:#00BD6C;
}
.course_cover a {
    float:left;
}

/* dialog 弹出窗口 */
/*--->导出课程*/
#export_course p {
    padding:10px 5px 5px 5px;
    color:#292929;
    font-size:14px;
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}
#export_course p.export_num input {
    margin-top:6px;
}
#export_course p input {
    margin-left:5px;
}
#export_course p:last-child {
    width:320px;
    padding:0 20px;
    color:red;
}
/*--->分享课程*/
#share_course p:last-child {
    float:left;
    position:relative;
}
#share_course .share_to {
    position:absolute;
    top:78px;
    left:25px;
    display:block;
    color:#435e99;
    font-size:16px;
    font-weight: 400;;
}
#share_course ul.s_c_tabmenu {
    height: 40px;
    white-space: nowrap;
    margin-left:85px;
    margin-top:10px;
}
#share_course ul.s_c_tabmenu li {
    float:left;
    width:90px;
    height:40px;
    line-height:40px;
    color:#9e9ea2;
    font-size:14px;
    text-align:center;
    cursor:pointer;
}
#share_course ul.s_c_tabmenu li.current  {
    color: #282928;
    font-weight: 400;;
    background: url('../Images/d_selected.png') no-repeat bottom;
}
#share_course div.s_c_tabbox {
    float: left;
    width: 535px;
    height: auto;
    min-height: 80px;
    background: #F5F5F5;
    border:1px solid #CAC6C1;
    overflow: hidden;
    margin-left:10px;
}
#share_course p {
    font-size:14px;
    color:#292929;
    margin-left:10px;
}
#share_course p input {
    margin-top:10px;
}
#share_course .s_c_tabbox ul li {
    float:left;
    width:110px;
    height:auto;
    margin:10px 0 0 15px;
    color:#435e99;
}
#share_course .s_c_tabbox ul li input {
    margin-right:5px;
}

/* 创建课程 */
.top_tab_menu {
    float: left;
    width: 750px;
    height: 50px;
    overflow: hidden;
    margin-top: 25px;
    margin-left:30px;
}
.top_tab_menu li  {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    font-size: 18px;
    color: #99999D;
    text-align: center;
    cursor: pointer;
}
.top_tab_menu a.back {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #99999D;
    cursor: pointer;
    margin-right:5px;
}
.top_tab_menu li.selected {
    font-weight: 400;;
    color:#080808;
    background: url('../Images/d_selected.png') no-repeat bottom;
}
.creat_c_mainBox  {
    float: left;
    width: 785px;
    height: auto;
}
.creat_c_mainBox div.switchbox{
    float: left;
    width:760px;
    height:auto;
    background: #F3F2F0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left:20px;
    padding:20px 0 30px 0;
    display:inline;
}
.creat_c_mainBox ul li.libox {
    float:left;
    width:100%;
    height:auto;
    line-height:50px;
    word-wrap: break-word;
    word-break: normal;
}
.creat_c_mainBox ul li.libox div .message {
    float:left;
    width:220px;
    height:39px;
    line-height:39px;
    margin-left:10px;
    font-size:14px;
}
.creat_c_mainBox ul li.libox label {
    float:left;
    margin-left:30px;
    font-size:14px;
    width: 90px;
    display: inline-block;
    letter-spacing:2px;
}
.creat_c_mainBox ul li.libox label i {
    color:red;
    margin-right:5px;
}
.creat_c_mainBox ul li.libox div {
    float:left;
    width:600px;
}
.creat_c_mainBox ul li.libox .c_tag span {
    padding:6px 25px;
    border:1px solid #20D691;
    margin-right:10px;
    cursor:pointer;
}
.creat_c_mainBox ul li.libox .c_tag span.add_tag {
    padding:6px 10px;
    background:#93E5BD;
}
.creat_c_mainBox ul li.radio div span {
    margin-right:15px;
    font-size:14px;
}
.creat_c_mainBox ul li.radio div input {
    margin-right:5px;
    position:relative;
    top:1px;
}
.creat_c_mainBox ul li.input div input {
    float: left;
    width:363px;
    height: 39px;
    line-height:39px;
    margin-right:3px;
    border:none;
    background:url('../Images/cc_input.png') no-repeat;
    text-indent:8px;
}
.creat_c_mainBox ul li.libox div textarea {
    width:615px;
    height:170px;
    margin-top:10px;
    border:none;
    background:url('../Images/cc_textarea.png') no-repeat;
}
.creat_c_mainBox ul li.libox div a.save_cg {
    float:left;
    width:174px;
    height:38px;
    border:none;
    background:url('../Images/btns.png') -174px 0px;
    margin-right:10px;
    color:#292929;
    font-size:14px;
    line-height: 38px;
    text-align:center;
    cursor:pointer;
}
.creat_c_mainBox ul li.libox div a.save_cg:hover {
    background:url('../Images/btns.png') -174px -38px;
}
.creat_c_mainBox ul li.libox div a.start_bk {
    float:left;
    width:174px;
    height:38px;
    background:url('../Images/btns.png') 0px 0px;
    color:#fff;
    font-size:14px;
    line-height: 38px;
    text-align:center;
    cursor:pointer;
}
.creat_c_mainBox ul li.libox div a.start_bk:hover {
    background:url('../Images/btns.png') 0px -38px;
}
.creat_c_mainBox ul li.sub {
    margin-left:120px;
}
.tag_list li.taglist {
    width:710px;
    height:45px;
    line-height:45px;
    overflow:hidden;
}
.tag_list li.taglist label.la{
    float:left;
    width:60px;
    margin-left: 10px;
    font-size: 14px;
    color: #494949;
    font-weight: 400;;
}
.tag_list li.taglist label.hand {
    padding: 6px 25px;
    border: 1px solid #20D691;
    margin-right: 10px;
    cursor: pointer;
}
.tag_list li.taglist label.hand.on {
    background: #93E5BD;
}
.tag_list li.taglist span {
    margin-right:15px;
    font-size:14px;
}
.tag_list li.taglist span input {
    margin-right:5px;
}

/* 进入课程 */
/* CSS Document */
.lesson_left {
    width:191px;
    min-height:800px;
    _height:800px;
    padding:15px 0px 0px 17px;
    margin-top:25px;
    background:#F3F2F0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}
.left_top {
    width:110px;
    height:38px;
    line-height:38px;
    padding-left:64px;
    background:url('../Images/classroom.png') no-repeat 0px -38px;
    color:#ffffff;
    font-size:14px;
    cursor:pointer;
}
.lesson_left table {
    margin-top:10px;
    height:auto;
}
.lesson_left table tr td {
    width:260px;
}
.lesson_left table tr td ul {
    overflow:auto;
}
#tree > li > a {
    color: #818181;
    font-size:18px;
    font-weight: 400;;
}
/*右部分*/
.lesson_righ {
    width:766px;
    padding-top:38px;
    margin-left:20px;
    margin-bottom:20px;
    display:inline;
}
.lesson_revert, .lesson_back {
    padding:12px 21px 0px 9px;
    color:#080808;
    font-size:18px;
}
.lesson_back{
    margin-right:9px;
}
.lesson_back:hover {
    color:#22a558;
}
.lesson_revert:hover {
    color:#22a558;
}
.lesson_revert {
    color:#3aba6e;
    display:block;
    width:640px;
    overflow:hidden;
    white-space:nowrap;
    /*text-overflow:ellipsis;*/
}
.lesson_dir  {
    font-size: 20px;
    line-height:45px;
}
.lesson_mark {
    padding-top:12px;
}
.lesson_lead {
    float:right;
    display: block;
    width: 124px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border: 1px solid #E6E6E6;
    color: #555;
    font-size: 14px;
    text-align: center;
}
.lesson_tab {
    position:relative;
    float:left;
    width:100%;
}
.lesson_tab li {
    float:left;
    display:block;
    position:relative;
    height:60px;
    line-height:60px;
    margin:0px 35px 0px 8px;
    color:#99999d;
    font-size:18px;
    cursor:pointer;
}
.lesson_tab li.selected_green {
    color:#080808;
    font-weight: 400;;
    background: url('../Images/bk_selected_green.png') no-repeat bottom;
}
.lesson_tab li.selected_gray {
    color:#080808;
    font-weight: 400;;
    background: url('../Images/bk_selected_gray.png') no-repeat bottom;
}
.lesson_norm {
    display:none;
    position:absolute;
    left:45px;
    top:45px;
    width:11px;
    height:5px;
    background:url('../Images/lesson.png') no-repeat -30px -36px;
}
.lesson_add {
    width:123px;
    height:40px;
    line-height:40px;
    border:1px solid #E8E8E4;
    color:#555555;
    font-size:14px;
    overflow:hidden;
    margin-top:5px;
    text-indent:50px;
    background:url('../Images/lesson.png') no-repeat -120px -38px;
    cursor:pointer;
}
.lesson_add:hover {
    background-position:-120px 0px;
}
.lesson_content {
    float:left;
    width:766px;
}
.lesson_caption {
    width:746px;
    height:60px;
    padding-left:20px;
    background:#26a75b;
    filter:alpha(opacity=70);
    opacity:0.7;
}
div.gray {
    background:#7C7B7B;
}
.lesson_caption li {
    float:left;
    height:60px;
    line-height:60px;
    text-align:center;
    color:#ffffff;
    font-size:14px;
}
.lesson_caption li.cap_order {
    width:10%;
}
.lesson_caption li.cap_name,.lesson_caption li.pub_name {
    width:30%;
    display:block;
    overflow:hidden;
}
.lesson_caption li.cap_name:hover,.pub_name:hover ,.pub_in:hover{
    cursor:pointer;
}
/*.lesson_caption li.cap_tag {
    width:15%;
    cursor:pointer;
}*/
.lesson_caption li.cap_time {
    width:30%;
}
.cap_down,.cap_up {
    width:3%;
}
.cap_operate {
    width:30%;
}
.cap_less {
    width:7%;
    cursor:pointer;
}
.cap_issue {
    width:10%;
    /width:9%;
    _width:9%;
}
.lesson_sub li.cap_close {
    width:12px;
    height:12px;
    margin-left:5px;
}
.lesson_sub li.cap_close img {
    display:none;
    cursor:pointer;
}

.lesson_list .lesson_sub li.cap_close img {
    display:none;
    cursor:pointer;
}
.lesson_list:hover .lesson_sub li.cap_close img {
    display:inline;
}
.pub_order {
    width:10%;
}
.pub_name {
    width:30%;
}
.pub_obj {
    width:20%;
}
.pub_time {
    width:20%;
}
.pub_operate {
    width:20%;
}
.pub_in {
    width:20%;
}
.cap_tag p {
    position:relative;
}
.cap_tag p span {
    position:absolute;
    right:-5px;
    top:20px;
    width:15px;
    height:9px;
    background:url('../Images/lesson.png') no-repeat -9px -33px;
}
.lesson_caption li.cap_rig {
    text-align:right;
    cursor:pointer;
}
.lesson_caption .cap_cor {
    color:#373737;
}
.lesson_list {
    background:#f2f2f2;
    border-bottom:1px solid #E1DEDA;
}
.lesson_list:hover {
    background:#ffffff;
}

.lesson_sub li {
    color:#717171;
}
.lesson_sub li a {
    color:#717171;
}
.lesson_whit {
    background:#ffffff;
}
.add_ks ,.be_model{
    float:left;
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}
.add_ks ul li,.be_model ul li{
    width:500px;
    float:left;
    margin-bottom:10px;
}
.add_ks ul li label,.be_model ul li label{
    float: left;
    margin-left: 5px;
    font-size: 14px;
    width: 80px;
    line-height:40px;
    display: inline-block;
    font-weight: 400;;
}
.add_ks ul li input,.be_model ul li input{
    width: 363px;
    height: 39px;
    line-height: 39px;
    margin-right: 3px;
    border: none;
    background: url('../Images/cc_input.png') no-repeat;
    text-indent:5px;
}
.add_ks ul li p{
    width:400px;
    display:block;
    float:left;
    word-wrap: break-word;
    word-break: normal;
}
.add_ks ul li p span{
    padding: 5px 25px;
    border: 1px solid #20D691;
    margin-right: 10px;
    cursor: pointer;
    width:80px;
    height:32px;
    line-height:42px;
}
/*侯祯怿 2013-5-13*/
.tagcustom li.taglist {
    width:560px;
    line-height:45px;
    overflow:hidden;
}
.tagcustom li.taglist span{
    position:relative;
}
.tagcustom li.taglist label.la {
    float:left;
    width:80px;
    margin-left: 10px;
    font-size: 14px;
    color: #494949;
    font-weight: 400;
}
.taglist div{
    float:left;
    width:450px;
}
.taglist div span{
    float:left;
    height:25px;
    line-height:25px;
    padding: 0px 20px;
    border: 1px solid #20D691;
    margin:10px 5px 10px 0;
    cursor: pointer;
}
.taglist div span.hand.on {
    background: #93E5BD;
}
.tagcustom li.taglist span {
    margin-right:15px;
    font-size:14px;
}
.tagcustom li.taglist span input {
    margin-right:5px;
}
.tagcustom .tag_input{
    display:block;
    float:left;
    width:195px;
    height:36px;
    line-height:38px;
    padding-left:5px;
    border:1px solid #d1d1d1;
    border-top-color:#9b9b9b;
}
.flex_close{
    display:none;
    position:absolute;
    right:-8px;
    top:-8px;
    width:16px;
    height:16px;
    background:url("../Images/mould.png") no-repeat -367px -1px;
    cursor:pointer;
}
.flex_close:hover{
    background:url("../Images/mould.png") no-repeat -367px -19px;
}
.tag_append{
    float:left;
    width:78px;
    height:38px;
    line-height:37px;
    margin-left:18px;
    text-align:center;
    background:url("../Images/left_btn.png") no-repeat -0px -0px;
    color:#a5a5a5;
    cursor:pointer;
}
.tag_append:hover{
    background:url("../Images/left_btn_h.png") no-repeat -0px -0px;
    color:#109443;
}
.list_lab{
    cursor:pointer;
}
.creat_c_mainBox ul li.libox .c_tag label.hand {
    float:left;
    height:25px;
    line-height:25px;
    padding: 2px 20px;
    border: 1px solid #20D691;
    margin:10px 5px;
    cursor: pointer;
}
.creat_c_mainBox ul li.libox .c_tag label.on {
    padding:3px 21px;
    background: #93E5BD;
}
.list_append{
    float:left;
}
.add_tagb span{
    float:left;
}
/*侯祯怿 2013-5-20*/
.xin_cur{
    cursor:pointer;
}
.xin_add{
    width:450px;
}
.xin_add ul{
    width:450px;
    float:left;
    margin-top:5px;
    margin-left:5px;
}
.xin_add ul li{
    float:left;
    width:150px;
    height:30px;
    line-height:30px;
    margin-bottom:5px;
    border:1px solid #22a558;
    color:#22a558;
    font-size:14px;
    text-align:center;
    cursor:pointer;
}
.xin_add ul li.xin_uli{
    background:#22a558;
    color:#fff;
}
.xin_noe{
    width:450px;
    margin-left:5px;
}
.xin_noe div{
    width:450px;
}
.xin_noe div span{
    float:left;
    height:25px;
    line-height:25px;
    margin:5px 0px 0px 10px;
    padding:0px 15px;
    border:1px solid #22a558;
    color:#22a558;
    cursor:pointer;
}
.xin_adae p{
    width:450px;
}
.xin_adae p label{
    float:left;
    line-height:20px;
    font-size:14px;
    color:#3e3e3e;
}
.xin_adae p a{
    line-height:20px;
    margin-right:10px;
    cursor:pointer;
    color:#22a558;
}
.xin_adae span{
    position:relative;
}
.select_add{
    width:600px;
}
.select_add .select_left{
    width:340px;
}
.select_add .select_right{
    width:230px;
}
.select_left li{
    float:left;
    width:330px;
    margin:8px 0 5px 0;
}
.select_add label{
    float:left;
    width:50px;
    height:27px;
    line-height:27px;
    font-size:14px;
    text-align:right;
}
.select_add li div{
    float:left;
}
.select_add li span{
    cursor:pointer;
}
.select_add li span.xin_ds{
    background:#22a558;
    color:#fff;
}
.select_add span{
    float:left;
    height:25px;
    line-height:25px;
    margin:0px 0px 0px 8px;
    padding:0px 15px;
    border:1px solid #22a558;
    color:#22a558;
}
.select_right input{
    width:120px;
    height:30px;
    margin:0px 0px 5px 8px;
    padding-left:5px;
    line-height:30px;
    color:#3e3e3e;
}
.select_right span{
    float:left;
    margin-top:5px;
    cursor:pointer;
}
.flex_closen{
    display:none;
    position:absolute;
    right:-8px;
    top:-8px;
    width:16px;
    height:16px;
    background:url("../Images/mould.png") no-repeat -367px -2px;
}
.flex_closen:hover{
    background:url("../Images/mould.png") no-repeat -367px -20px;
}
.mainBox {
    float:left;
    width:785px;
    height:auto;
    margin-top:25px;
}
.top_tab_menu a.back:hover {
    color:#22a558;
}
.tag_list li.taglist label.la {
    float:left;
    width:60px;
    margin-left: 10px;
    font-size: 14px;
    color: #494949;
    font-weight: 400;;
}
/* 学生作业列表 */
.s_hwList {
    float: left;
    width: 765px;
    height: auto;
    margin-top: 25px;
    background:#F3F2F0;
    margin-left:20px;
    display:inline;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius:2px;
    overflow:hidden;
}
.s_hwList .title {
    float:left;
    width:100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 400;;
    color: #080808;
    margin-left:20px;
    cursor: pointer;
}
.s_hwList .class_list ,.s_hwList .course_list {
    float:left;
    width:100%;
    font-size:14px;
    font-weight: 400;;
    color: #080808;
    margin-left:20px;
    padding:10px 0;
}
.s_hwList .class_list label ,.s_hwList .course_list label {
    float:left;
    line-height:25px;
    width:65px;
    text-align:right;
    overflow:hidden;
}
.s_hwList .class_list ul ,.s_hwList .course_list ul {
    float:left;
    display:inline;
    margin-left:20px;
}
.s_hwList .course_list ul.class_tab,.s_hwList .course_list ul.course_tab{
    width:650px;
}
.s_hwList .course_list ul.course_tab li{
    margin-bottom:5px;
}
.s_hwList .class_list ul li ,.s_hwList .course_list ul li {
    float:left;
    padding: 3px 12px;
    border: 1px solid #20D691;
    margin-right: 10px;
    cursor: pointer;
    font-weight:normal;
    margin-right:20px;
    font-size:12px;
}
.s_hwList .class_list ul li.on ,.s_hwList .course_list ul li.on {
    background: #93E5BD;
}
.s_hwList .hw_list ul {
    float: left;
    width:700px;
    margin:30px 20px 20px 20px;
    display: inline;
}
.s_hwList .hw_list ul li {
    float:left;
    width: 100%;
    height: auto;
    border: 1px solid #E3E1DD;
    padding: 5px;
    margin-bottom:20px;
}
.s_hwList .hw_list ul li span.item {
    float:left;
    width: 8px;
    height: 55px;
}
.s_hwList .hw_list ul li.do span.item {
    background: #20D691;
}
.s_hwList .hw_list ul li.did span.item {
    background: #36BAE9;
}
.s_hwList .hw_list li.redo span.item {
    background: #FA1A1A;
}
.s_hwList .hw_list li.redid span.item {
    background: #36BAE9;
}
.s_hwList .hw_list li.none span.item {
    background: #AAA;
}
.s_hwList .hw_list li div {
    width: 700px;
    display: inline;
}
.s_hwList .hw_list li div p.hw_name {
    float: left;
    width: 590px;
    height:30px;
    line-height:30px;
    margin-left: 20px;
    font-size: 15px;
    display:inline;
}
.s_hwList .hw_list li div span.btns.bt1 {
    color: #fff;
    background-position: 0 0;
}
.s_hwList .hw_list li div span.btns.bt2 {
    background-position: 0 29px;
    color: #000;
}
.s_hwList .hw_list li div span.btns.bt3 {
    background-position: 0 65px;
    color: #fff;
}
.s_hwList .hw_list li div span.btns.bt4 {
    background-position: 0 29px;
    color: #000;
}
.s_hwList .hw_list li div span.btns {
    float:left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background: url('../Images/workBtn.gif');
}
.s_hwList .hw_list li p.bol {
    width: 300px;
    float: left;
    margin-left: 33px;
    display:inline;
}
.s_hwList .hw_list li p.bol span {
    color: #786C72;
    line-height: 23px;
    margin-right:30px;
}
.s_hwList .hw_list li p.bor {
    float: right;
    width: 330px;
}
.s_hwList .hw_list li p.bor span {
    color: #786C72;
    line-height: 23px;
    max-width: 250px;
    margin-left:40px;
}
.s_hwList .page {
    float: right;
    margin:25px 35px 30px 0;
}
/* 教师作业列表 */
.t_hwList {
    float:left;
    width: 765px;
    height: auto;
    margin-top: 25px;
    margin-left:20px;
}
.t_hwList .filter div {
    float:left;
    height:38px;
    line-height:38px;
    display:inline;
    width:380px;
    margin-top:15px;
}
.t_hwList .filter div label {
    float:left;
    min-width:90px;
    max-width:130px;
    font-size:18px;
    color:#444;
    margin-right:10px;
}
.t_hwList .filter div label.space {
    letter-spacing:4px;
    margin-right:6px;
}
.t_hwList .filter div select {
    width:210px;
    height:30px;
}
.t_hwList div.search button {
    float:right;
    margin-right:35px;
    width:174px;
    height:38px;
    line-height:38px;
    background:url('../Images/btns.png') 0px 0px;
    border:0;
    cursor:pointer;
    text-align:center;
    color:#fff;
    font-size:14px;
}
.t_hwList div.search button:hover {
    background:url('../Images/btns.png') 0px -38px;
}
.t_hwList .hw_list {
    width:765px;
    margin-top:30px;
}
.hw_caption {
    width: 705px;
    height: 60px;
    background: #26A75B;
    padding-left: 20px;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.hw_caption li {
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 14px;
}
.hw_caption li span {
   cursor: pointer;
}
.hw_List {
    background: #F2F2F2;
    border-bottom: 1px solid #E1DEDA;
}
.hw_List ul li {
    color: #424242;
}
/* 标准标签添加 */
li.bztaglist {
    width: 710px;
    height: 45px;
    overflow: hidden;
}
.bztaglist label{
    float: left;
    width: 60px;
    line-height: 45px;
    margin-left: 10px;
    font-size: 14px;
    color: #494949;
    line-height: 45px;
    font-weight: 400;;
}
.bztaglist div {
    float: left;
    width: 630px;
}
.bztaglist label.hand {
    padding: 6px 25px;
    border: 1px solid #20D691;
    margin-right: 10px;
    cursor: pointer;
}
.bz.taglist label.hand.on {
    background: #93E5BD;
}
.bztaglist div span {
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0px 20px;
    border: 1px solid #20D691;
    margin: 10px 5px 10px 0;
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
}
.bztaglist div span.hand.on {
    background: #93E5BD;
}
.coGrade span.hand.on {
    background: #93E5BD;
}
.coGrade span.hand {
    float:left;
    display: inline-block;
    margin-top:10px;
    margin-right:5px;
    padding: 5px 20px;
    border: 1px solid #20D691;
    cursor: pointer;
}
/*绑定班级弹窗*/
.xin_add .xin_noe label{
    line-height:35px;
}
.xin_add .xin_noe .xin_sain div{
    width:360px;
}
.xin_sain .sa_click span.xin_ds,.xin_adae .sa_click span.xin_dss{
    background:#22a558;
    color:#fff;
}
.xin_add .xin_noe .xin_adae div{
    width:360px;
}
.xin_noe .xin_adae div.bindGroup{
    width:300px;
}
.xin_add .xin_noe .xin_adae .xin_sch{
    line-height:35px;
    color:#22a558;
    cursor:pointer;
}
.select_left .select_num{
    width:335px;
    height:400px;
    padding-bottom:10px;
    overflow:auto;
}
.select_left .select_num .num_remove,.select_left .select_num .num_remove div{
    float:left;
    width:250px;
}
.select_left .select_num .num_remove div span{
    float:left;
    display:block;
    width:200px;
    height:30px;
    line-height:30px;
    margin-bottom:1px;
    padding:0px 10px;
    cursor:pointer;
}
.select_left .select_num .num_remove ul{
    float:left;
    display:none;
    width:250px;
    max-height:300px;
    margin-left:10px;
    overflow:auto;
}
.select_left .select_num .num_remove ul li{
    float:left;
    width:210px;
    height:20px;
    margin-bottom:1px;
    color:#24a659;
    cursor:pointer;
    padding:5px 5px;
}
.select_left .select_num .num_remove ul li.xin_reli{
    color:#bababa;
    background:#eaeaea;
}
.select_left .select_num .num_remove ul li.xin_reli:hover{
    background:#eaeaea;
    color:#bababa;
}
.select_left .select_num .num_remove ul li.xin_relian{
    background:#22a558;
    color:#fff;
}
.select_left .select_num .num_remove ul li.xin_relian:hover{
    background:#22a558;
    color:#fff;
}
.select_left .select_num .num_remove ul li:hover{
    background:#66d694;
    color:#fff;
}
.select_left .select_num .num_remove div span.xin_ds{
    background:#22a558;
    color:#fff;
}
.select_right ul{
    float:left;
    width:180px;
    height:460px;
    overflow:auto;
}
.select_right ul li{
    position:relative;
    float:left;
    display:block;
    width:140px;
    height:27px;
    line-height:27px;
    margin-left:10px;
    padding-left:5px;
    cursor:pointer;
}
.select_right ul li.on{
    background:#22a558;
    color:#fff;
}
.select_right ul li .flex_close{
    right:4px;
    top:5px;
}
/*弹窗学制年纪联动样式处理*/
.select_left .coGrade li label.la{
    text-align:right;
}
.select_left .sel_ul li span.hand{
    float:left;
    display: inline-block;
    margin:0px 0px 5px 8px;
    padding: 0px 20px;
    border: 1px solid #20D691;
    cursor: pointer;
}
.select_left .sel_ul li span.on{
    background:#22a558;
    color:#fff;
}
/*Course/edit 编辑课程 5-23*/
.top_tab_menu a.back{
    margin-right:30px;
    color:#040404;
    font-size:18px;
}
.lesson_tab li.selected_green,.lesson_tab li.selected_gray,.mainBox ul.mainBox_tab_menu li.selected,.top_tab_menu li.selected{
    font-weight:400;
}
.mainBox ul.mainBox_tab_menu li{
    height:30px;
    line-height:30px;
}
/* ztree样式 */
.ztree li a span {
    display:inline-block;
    position: relative;
    top: -3px;
    width:90px;
    overflow:hidden;
    white-space:nowrap;
}
/*我的课程 新增群组弹窗修改*/
.select_cen{
    float:left;
    width:50px;
    height:500px;
    border-left:1px dotted #3e3e3e;
    border-right:1px dotted #3e3e3e;
}
.select_cen a{
    float:left;
    padding:5px 10px;
    margin:160px 0px 0px 5px;
    border-radius:3px;
    cursor:pointer;
}
.select_cen a:hover{
    background:#22a558;
    color:#fff;
}