/* 班级管理 */
.class {
    width: 840px;
    height: auto;
    margin-top: 25px;
    margin-left: 28px;
}
.class .filter {
    float: left;
    width: 780px;
    height: auto;
    margin-bottom: 20px;
    background: #F5F5F3;
    padding: 0 20px 20px 20px;
}
.class .filter span.on{
    background:#93E5BD;
}
.class .filter span {
    display: inline-block;
    margin-right: 20px;
    padding: 5px 20px;
    border: 1px solid #20D691;
    cursor: pointer;
}
.class .filter li .search_btn {
    float: right;
    width: 86px;
    height: 39px;
    background: url('/apps/resource/Public/Images/Ilc/searchBtn.png') no-repeat;
    margin-left: 6px;
}
.class .filter li select {
    float: left;
    width: 313px;
    height: 39px;
}
.class .result_list {
    float: left;
    width: 820px;
    height: auto;
    margin-bottom: 20px;
    background: #F5F5F3;
}
.class .class_list {
    width:100%;
    height:auto;
}
.class .class_list p, .class .teacher_list p,.class .student_list p{
    height:50px;
    line-height:50px;
    font-size:18px;
    font-weight: 400;;
    border-bottom:1px solid #E4E2DF;
    padding-left:25px;
}
.class .class_list p span {
    font-size: 14px;
    margin-left:20px;
    font-weight:normal;
    cursor:pointer;
}
.class .class_list p span:hover {
    color:#22A558;
}
.class .class_list ul {
    width:100%;
    float:left;
    margin-bottom:40px;
}
.class .class_list ul li {
    float:left;
    width:272px;
    height:110px;
    border-right:1px solid #E4E2DF;
    border-bottom:1px solid #E4E2DF;
    cursor:pointer;
    position:relative;
}
.class .class_list ul li.add_class {
    float:left;
    text-align:center;
    cursor:pointer;
}
.class .class_list ul li.on {
    background-color:#ffffff;
}
.gradeCourse{
    display:block;
    width:100px; 
    line-height:30px;
    border:1px solid #00ff00;
    padding-left:10px;
    margin-top:10px;
}
.class .class_list ul li.add_class .addBtn {
    margin-top:20px;
}
.class .class_list ul li.add_class span {
    display:block;
    margin-top:5px;
    font-size:14px;
    color:#E2E0DC;
}
.class .class_list ul li a img {
    float:left;
    margin:6px 0 0 6px;
}
.class_list .class_info {
    float:left;
    width:160px;
    margin-top:22px;
    margin-left:10px;
}
.class_list .class_info a{
    display:block;
    width:160px;
    text-align:left;
    color:#2c2c2c;
    font-size:14px;
    font-weight: 400;;
    margin-bottom:5px;
    overflow:hidden;
}
.class_list .class_info a.class_title:hover{
    color:#F86E2D;
}
.class_list .class_info a.kb ,.class_list .class_info a.edit{
    float: left;
    display: inline;
    width:70px;
    color:#2c2c2c;
    font-size:14px;
    font-weight: 400;;
    margin-bottom:5px;
    overflow:hidden;
}
.class_list .class_info a.kb {
    margin-right:10px;
}
.class .class_list ul li a.kb img ,.class .class_list ul li a.edit img{
    float:left;
    margin:0;
    margin-right:5px;
}
.class_list .class_info a.kb:hover {
    color:#F86E2D;
}
.class_list .class_info span{
    display:block;
    width:160px;
    text-align:left;
    font-size:14px;
    color:#575757;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.class .teacher_list {
    width:100%;
    height:auto;
}
.class .teacher_list .tit cite {
    width:100%;
    font-size:14px;
    font-weight:normal;
    margin-left:10px;
    cursor:pointer;
}
.teacher_list ul,.student_list ul {
    float: left;
    margin-bottom: 40px;
    padding-left:10px;
}
.teacher_list ul li,.student_list ul li {
    float:left;
    width:120px;
    height:60px;
    max-height:60px;
    background:#FFF;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
    margin-top:25px;
    margin-left:12px;
    text-align:center;
    font-size:14px;
    color:#2c2c2c;
    cursor:pointer;
    position:relative;
}
.teacher_list ul li span,.student_list ul li span {
    display: block;
    float: left;
    width:110px;
    height:20px;
    line-height:20px;
    margin-top:20px;
    padding:0px 5px;
    color:#2c2c2c;
    overflow:hidden;
}
.teacher_list ul li span {
    
}
.student_list ul li {
    line-height:60px;
}
.teacher_list ul li span.c_name {
    float:left;
    display:block;
    width:120px;
    margin-top:10px;
    overflow:hidden;
    white-space:nowrap;
}
.teacher_list ul li cite.t_name {
    float:left;
    display:block;
    width:120px;
    overflow:hidden;
    white-space:nowrap;
}
.class .student_list {
    width:100%;
    height:auto;
}
.student_list ul li.add_student {
    text-align:left;
    color:#E2E0DC;
    cursor:pointer;
}
.student_list ul li.add_student img {
    float:left;
    margin:12px 5px 0 8px;
}
.class .filter div {
    display:inline;
}
.class .filter li {
    margin-top: 15px;
    float: left;
    width: 100%;
}
.class .filter li label {
    float: left;
    width: 80px;
    line-height: 30px;
    padding-right: 10px;
    font-size: 14px;
    color: #494949;
    font-weight: 400;;
}
.class .filter li input {
    float: left;
    width: 313px;
    height: 39px;
    line-height: 39px;
    margin-right: 3px;
    border: none;
    background: url('/apps/resource/Public/Images/Ilc/searchbg.png') no-repeat;
    text-indent:5px;
}
/* 班级管理---指定班主任窗口 */
#headTeacher label {
    float:left;
    font-size:14px;
    line-height:39px;
    font-weight: 400;;
    margin-left:5px;
}
#headTeacher input {
    float:left;
    width:260px;
    height:35px;
    line-height:35px;
    margin-left:10px;
    margin-right:10px;
    text-indent:5px;
}
#headTeacher .searchUser {
    float:left;
    width: 86px;
    height: 39px;
    background: url("/apps/resource/Public/Images/Ilc/searchBtn.png") no-repeat;
    cursor: pointer;
}
#headTeacher .searchList {
    margin-top: 20px;
    margin-left: 10px;
    color:red;
}
#headTeacher .searchList li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#headTeacher .searchList li span {
    float: left;
    padding: 5px 20px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #20D691;
}
#headTeacher .searchList li span.on {
    background: url("/apps/resource/Public/Images/Ilc/hitchoose.png") no-repeat;
    background-position: right top;
    border: 0;
    cursor: pointer;
    border: 1px solid #20D691;
}
/* 为教师指定课程窗口 */
#teacher_course .teacherList {
    margin-top: 10px;
}
#teacher_course .teacherList li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#teacher_course .teacherList li span {
    float: left;
    padding: 5px 20px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #20D691;
}
#teacher_course .teacherList li span.on {
    background: url("/apps/resource/Public/Images/Ilc/hitchoose.png") no-repeat;
    background-position: right top;
    border: 0;
    cursor: pointer;
    border: 1px solid #20D691;
}
/* 添加学生窗口 */
#plus_student p {
    float: left;
    display: inline;
    margin-right: 10px;
}
#plus_student p label {
    float: left;
    width: 80px;
    line-height: 35px;
    font-size: 14px;
    color: #494949;
    font-weight: 400;;
}
#plus_student p input {
    height: 35px;
    text-indent:5px;
}
#plus_student p select {
    width:80px;
    height:35px;
}
#plus_student p.searchStudent {
    width: 86px;
    height: 39px;
    background: url("/apps/resource/Public/Images/Ilc/searchBtn.png") no-repeat;
    cursor: pointer;
}
#plus_student .studentList {
    margin-top: 20px;
    margin-left: 10px;
}
#plus_student .studentList li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#plus_student .studentList li span {
    float: left;
    padding: 5px 20px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #20D691;
}
#plus_student .studentList li span.on{
    background: url("/apps/resource/Public/Images/Ilc/hitchoose.png") no-repeat;
    background-position: right top;
    border: 0;
    cursor: pointer;
    border: 1px solid #20D691;
}
#plus_student .studentList li span.still {
    background: url("/apps/resource/Public/Images/Ilc/hitdel.png") no-repeat;
    background-position: right top;
    border: 0;
    cursor: pointer;
    border: 1px solid #20D691;
}
.student_list li .student_del {
    position: absolute;
    display:none;
    right: -8px;
    top: -8px;
    width: 18px;
    height: 17px;
    background: url("/apps/resource/Public/Images/Ilc/delUser.png") no-repeat;
}
#data li .class_del {
    display:block;
    width: 18px;
    height: 17px;
    float:right;
    display:none;
    background: url("/apps/resource/Public/Images/Ilc/delUser.png") no-repeat;
}

/* 添加班级窗口 */
#plus_class ul li {
    float: left;
    width: 100%;
    margin-top: 15px;
}
#plus_class ul li select {
    height:29px;
}
#plus_class li label{
    float: left;
    width: 80px;
    line-height: 29px;
    font-size: 14px;
    color: #494949;
    font-weight: 400;;
}
#plus_class li span {
    display: inline-block;
    margin-right: 8px;
    padding: 5px 12px;
    border: 1px solid #20D691;
    cursor: pointer;
}
#plus_class li input {
    width:450px;
    height:28px;
    text-indent:5px;
}
#plus_class li textarea {
    width:450px;
    height:100px;
}
#plus_class li span.on{
    background: #93E5BD;
}
.ui-dialog .ui-dialog-titlebar {
    width:92%;
}