.colu_main {
    width:780px;
    padding:10px 20px 20px;
    border-radius:2px 2px 2px 2px;
    text-align:left;
    letter-spacing:4px;
    color:#363636;
    font-size:16px;
    font-weight:normal;
}
.title a {
    color:#363636;
}
.title a:hover {
    color:#22a558;
}
.exa_cour {
    float:left;
    padding:10px 10px 0px;
}
.exa_cour > li {
    width:780px;
    height:auto;
    float: left;
    margin-bottom: 10px;
}
.exa_cour li label {
    float: left;
    width: 90px;
    padding-right: 10px;
    line-height: 35px;
    text-align: right;
    color: #494949;
    font-size: 14px;
}
.exa_cour li p {
    float:left;
    height: 35px;
    line-height: 35px;
    margin-left: 5px;
    color: #494949;
    font-size: 14px;
}

.exa_cour li textarea {
    width: 350px;
    height: 130px;
    text-indent: 5px;
    font-size: 14px;
}
.exa_cour .save {
    display:inline;
    margin:10px 0px 0px 280px;
}
.exa_cour .save, .exa_cour .reset {
    border: medium none;
    cursor: pointer;
    font-size: 14px;
    height: 38px;
    width: 174px;
}
.exa_cour .save {
    background: url("/apps/resource/Public/Images/Ilc/btns.png") repeat scroll 0 0;
    color: #FFFFFF;
}
.exa_cour .reset {
    background: url("/apps/resource/Public/Images/Ilc/btns.png") repeat scroll -174px 0;
    color: #363636;
}
.exa_cour .save:hover {
    background: url("/apps/resource/Public/Images/Ilc/btns.png") repeat scroll 0 -38px;
}
.exa_cour .reset:hover {
    background: url("/apps/resource/Public/Images/Ilc/btns.png") repeat scroll -174px -38px;
}
.cour_now span {
    float:left;
    line-height:29px;
    padding-right:10px;
    color: #393939;
    font-size: 14px;
}
.cour_now span input{
    float:left;
    width:14px;
    height:14px;
    margin:9px 3px 0 0;
    cursor:pointer;
}
div.jp-controls-holder {
    width:550px;
}
.exa_cour li p input {
    display:block;
    float:left;
    height:35px;
    line-height:35px;
    text-indent:5px;
    font-size:14px;
}
.title i,.title a {
    font-size:16px;
}
.ListFiles {
    height:35px;
    line-height:35px;
}
.ListFiles:hover {
    color:#22a558;
    text-decoration:underline;
}