.main_box {
    float:left;
    width:754px;
    margin-top:20px;
    background:#fff;
}
.banner_area {
    float:left;
    margin-bottom:25px;
}
.main_box .banner_l {
    float:left;
    width:624px;
    height:463px;
    background:url('/apps/nr/Public/Images/Home/banner_bg.png');
    overflow:hidden;
}
.banner_l li {
    position:relative;
}
.banner_l li .bcover {
    position:absolute;
    bottom:10px;
    left:6px;
    width:600px;
    height:46px;
    line-height:46px;
    text-align:center;
    background:url('/apps/nr/Public/Images/Home/banner_cover.png');
    color:#fff;
    font-size:18px;
}
.banner_l img {
    margin:6px;
}
.main_box .banner_r {
    float:left;
}
.main_box .banner_r li {
    margin:8px 0 0 5px;
}
.main_box .banner_r li img {
    margin:4px 0 0 10px;
}
.main_box .banner_r li.on {
    width:114px;
    height:83px;
    background:url('/apps/nr/Public/Images/Home/banner_l_bor.png') no-repeat;
}
.column {
    float:left;
    width:744px;
    border-top:2px solid #94918B;
    clear:both;
}
.column .col_top {
    height:45px;
    line-height:45px;
    border-bottom:2px solid #E8E6E4;
}
.column .col_top label {
    float:left;
    font-size:18px;
    /*font-weight:bold;*/
    margin-left:18px;
}
.column .col_top ul {
    float:left;
    margin-left:135px;
}
.column .col_top ul li {
    float:left;
    padding:0 25px;
    font-size:14px;
    color:#3a3a3a;
    cursor:pointer;
}
.column .col_top ul li.on {
    color:#138af2;
}
.column .col_top a.more {
    float:right;
    color:#969696;
    margin-right:6px;
}
.column .col_top a.more:hover {
    color:#2889ed;
}
.column .col_pic {
    float:left;
    margin:20px 0;
}
.column .col_pic li {
    float:left;
    width:119px;
    height:92px;
    background:#EFEEEC;
    border:1px solid #E0DDD9;
    margin:0 8px 0 18px;
    position:relative;
}
.column .col_pic li img {
    margin:0 9px;
}
.column .col_pic li .pcover {
    width:100%;
    height:20px;
    line-height:20px;
    position:absolute;
    bottom:0;
    background:red;
    filter:Alpha(opacity=50);
    opacity:0.5;
    -moz-opacity:0.5;
    background:#000;
}
.column .col_pic li .pcover span {
    color:#fff;
    font-size:9pt;
}
.column .col_pic li .pcover .tname {
    margin-left:8px;
}
.column .col_pic li .pcover .score {
    margin-right:8px;
}
.column .rec_tit .za {
    float:left;
    width:345px;
    margin-left:18px;
    border-top:1px dotted #B7B3AD;
}
.column .rec_tit .za li {
    float:left;
    width:160px;
    padding:8px 0;
    margin-right:12px;
    border-bottom:1px dotted #B7B3AD;
}
.column .rec_tit .za li a {
    float:left;
    color:#585858;
    width:156px;
    overflow:hidden;
    white-space:nowrap;
}
.type_area {
    margin-top:30px;
}
/*.ver_area .col_top ul li {
    padding:0 20px;
}*/
.column .rebox li {
    float:left;
    width:124px;
    height:125px;
    background:url('/apps/nr/Public/Images/Home/rebox_bg.png');
    margin:12px 8px 0 15px;
}
.column .rebox li a.cov {
    float:left;
    height:75px;
    margin:6px 0 0 12px;
    cursor:pointer;
}
.column .rebox li a.tit {
    float:left;
    width:100px;
    margin-top:3px;
    margin-left:12px;
    cursor:pointer;
    color:#252525;
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
}
.column .rebox li div {
    float:left;
    width:100px;
    margin-left:12px;
    margin-right:12px;
    color:#959595;
}
.ver_area {
    margin-top:25px;
}
.ver_area .rebox {
    float:left;
    margin-bottom:30px;
}
.sidebar {
    float:left;
    width:270px;
    margin-top:20px;
    background:#F1F0EE;
    padding-bottom:6px;
}
.sidebar .side_box {
    float:left;
    width:252px;
    margin-left:7px;
    background:#FAFAF9;
    border-top:2px solid #74B0E4;
    border-left:1px solid #D1CEC9;
    border-right:1px solid #D1CEC9;
}
.sidebar .notice {
    margin-top:6px;
}
.sidebar .side_box .side_box_top {
    height:38px;
    line-height:38px;
    background:url('/apps/nr/Public/Images/Home/side_box_top_bg.png');
}
.sidebar .side_box_top .mark {
    float:left;
    margin-left:16px;
    font-size:16px;
    color:#323232;
}
.sidebar .side_box_top .more ,.sidebar .side_box_top .change {
    float:right;
    margin-right:15px;
    color:#838383;
    cursor:pointer;
}
.sidebar .side_box_top .more:hover ,.sidebar .side_box_top .change:hover {
    color:#2889ed;
}
.side_box .lists {
    float:left;
    padding:0 16px;
    color:#464646;
}
.side_box .lists li {
    float:left;
    width:220px;
    overflow:hidden;
    white-space:nowrap;
    margin:6px 0;
}
.side_box .lists li s {
    margin-right:3px;
    color:#E3E1DE;
}
.side_box .shareul {
    float:left;
    margin:18px;
}
.side_box .shareul li {
    float:left;
    margin:0px 2px;
}
.side_box .shareul li a {
    float:left;
}
.ranking {
    border-bottom:1px solid #cecece;
}
.side_box .ranking_box .ranking_tab {
    float:left;
}
.side_box .ranking_box .ranking_tab li {
    float:left;
    width:84px;
    height:29px;
    line-height:29px;
    background:url('/apps/nr/Public/Images/Home/ranking_tab_bg.png');
    text-align:center;
    cursor:pointer;
}
.side_box .ranking_box .ranking_tab li s {
    float:right;
    width:2px;
    height:29px;
    background:#d2d2d2;
}
.side_box .ranking_box .ranking_tab li.current {
    background:#fff;
}
.side_box .ranking_list {
    float:left;
    margin:5px 0;
}
.side_box .ranking_list .list_item {
    float: left;
    width: 210px;
    padding: 5px 0px;
    border-bottom: 1px dotted #eee;
    margin-left: 20px;
}
.side_box .ranking_list .list_item .good ,.list_item .normal {
    float:left;
    border-radius:10px;
    padding:0 5px;
    margin-right:5px;
}
.side_box .ranking_list .list_item .good {
    border:1px solid #ea8536;
    color:#ea8536;
}
.side_box .ranking_list .list_item .normal {
    border:1px solid #aaa;
    color:#aaa;
}
.side_box .ranking_list .list_item .name {
    float:left;
    width:150px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
}
.side_box .ranking_list .list_item .num {
    float:right;
}