*{
    margin:0;
    padding:0;
}
body{
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
    font-size:12px;
    background:url('/apps/nr/Public/Images/Home/body_bg.png') repeat;
    position:relative;
    background:#f8f7f7;
}
.wrap{
    width:1024px;
    height:auto;
    margin:0 auto;
    position:relative;
    min-height:455px;
}
h1,h2,h3,h4{
    font-size:100%;
}
.clear{
    clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.mr10{
    margin-right:10px;
}
.mr5{
    margin-right:5px;
}
.ml5{
    margin-left:5px;
}
.mt5{
    margin-top:5px;
}
.mt10{
    margin-top:10px;
}
.ml10{
    margin-left:10px;
}
.pt10{
    padding-top:10px;
}
.pt5{
    padding-top:5px;
}
.pb5{
    padding-bottom:5px;
}
.dp{
    display:inline;
}
.dn{
    display:none;
}
.db{
    display:block;
}
.di{
    display:inline-block;
}
.wg{
    font-weight:bold;
}
.nw{
    font-weight:normal;
}
em, cite, i {
    font-style:normal;
}
ol,li{
    list-style:none;
}
a{
    color:#040404;
    text-decoration:none;
}
a:hover{
    color:#2889ed;
}
.hide{
    display:none;
}
img{
    border:0;
}
/* header */
#header{
    width:100%;
    height:117px;
    background:url('/apps/nr/Public/Images/Home/header_bg.png');
}
#header .area {
    width:1024px;
    margin:0 auto;
}
#header .area .top_bar {
    height:26px;
    position:relative;
}
#header .area .top_bar .setList {
    height:26px;
    position:relative;
    color:#5B5A55;
}
#header .setList .f-li {
    float: left;
    padding: 0 0 0 10px;
    height: 26px;
    line-height: 26px;
}
#header .setList s {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
    _display: inline;
    height: 12px;
    overflow: hidden;
    font-size: 0;
    border-left: 1px solid #ccc;
}
#header #logo {
    float: left;
    width: 62px;
    height: 72px;
    _display: inline;
    background: url('/apps/nr/Public/Images/Home/logo.png') no-repeat;
    margin-top: 6px;
}
#header .menu {
    font-size:14px;
    margin-left:30px;
    color:#4B4B49;
}
#header .menu li {
    float:left;
    padding:0 12px;
    line-height:82px;
}
#header .menu li.on {
    color:#0081EF;
}
#header .menu li s {
    float: left;
    height: 14px;
    margin-top: 36px;
    margin-right: 24px;
    _display: inline;
    overflow: hidden;
    font-size: 0;
    border-left: 1px solid #ccc;
}
#header .search .class_box {
    float:right;
    width:226px;
    height:30px;
    margin-top:28px;
    background:url('/apps/nr/Public/Images/Home/header_serach.png');
}
#header .search .class_box .search_inp {
    float:left;
    width: 175px;
    height: 28px;
    line-height: 28px;
    background: none;
    border: none;
    color: #c2c2c2;
    outline: medium;
    padding-left:10px;
}
#header .search .class_box .searchsub {
    float:left;
    width: 40px;
    height:28px;
    background: none;
    border: none;
    cursor: pointer;
}
/* footer */
/*#footer{
    width: 100%;
    height:57px;
    line-height:57px;
    text-align: center;
    color:#8D8A85;
    background:url('/Public/Images/Home/footer_bg.png');
    margin-top:20px;
}*/
.footer {
    width:100%;
    height:57px;
    background:url("/apps/nr/Public/Images/Home/footer.png") repeat-x;
    margin-top:20px;
}
.footer .footer_cen {
    width:1024px;
    height:auto;
    margin:0px auto;
}
.footer_cen .logo {
    float:left;
    width:180px;
    height:50px;
    background:url("/apps/nr/Public/Images/Home/footer_logo.png") no-repeat;
    cursor:pointer;
}
.footer_cen ul li {
    float:left;
    width:78px;
    line-height:56px;
    background:url("/apps/nr/Public/Images/Home/footer_li.png") no-repeat right 20px;
    color:#dedede;
    cursor:pointer;
    text-align:center;
    *line-height:54px;
    _line-height:56px;
}
.footer_cen p {
    line-height:56px;
    color:#929292;
    *line-height:54px;
    _line-height:56px;
}
/*分页*/
.page {
    float:right;
    margin:30px auto 20px auto;
    margin-right:30px;

}
.page a {
    padding:3px 8px;
    border:1px solid #DFDCD8;
    border-radius:2px;
    color:#7f7f7f;
}
.page a:hover {
    background:#0078D5;
    color:#fff;
}