<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>百度新闻</title>
	<link rel="shortcut icon" href="web/images/webapp-news-logo.png">
	<link rel="stylesheet" type="text/css" href="web/css/index.css">

</head>
<body>
	<div class="wrapper">
		<!-- 头部开始 -->
		<header>
			<div class="toolsBar">
				<div class="tool-l">
					<a href="#" class="baidu-lk"></a>
					<a href="#" class="member-lk"></a>
				</div>
				<div class="tool-r">
					<a href="#" class="search-lk"></a>
					<a href="#" class="subscribe-lk"></a>
				</div>
			</div>

			<!-- 导航 -->
			<nav>
				<a href="#" class="active"><span>推荐</span><i></i></a>
				<a href="#"><span>百家</span><i></i></a>
				<a href="#"><span>本地</span><i></i></a>
				<a href="#"><span>图片</span><i></i></a>
				<a href="#"><span>娱乐</span><i></i></a>
				<a href="#"><span>社会</span></a>
			</nav>
		</header>
		<!-- 头部结束 -->

		

		<div class="content">

			<!-- 推荐开始 -->
			<div class="recoment" id="latest">
				<!-- 图片轮换 -->
				<section class="pic-scroll">
					<div class="img-scroll-wrap clearfix">
						<ul>
							<li index="0">
								<img src="web/images/timg (1).jpg">
								<h4>巴萨开启盛大夺冠游行 梅西笑容迷人</h4>
							</li>
							<li index="1">
								<img src="web/images/timg (2).jpg">
								<h4>金正恩视察秧苗场 赞规模化和现代化</h4>
							</li>
							<li index="2">
								<img src="web/images/timg.jpg">
								<h4>揭秘公安潜水大队</h4>
							</li>
						</ul>
					</div>

					<div class="img-bar">
						<i class="cur-bar"></i>
						<i></i>
						<i></i>
					</div>
					
				</section>

				<div class="main-con">
					<!-- 向上滚动的新闻 -->
					<div class="hot-news">
						<div class="hot-icon">
							<span>热点</span>
						</div>
						<div class="news-scroll">
							<ul>
								<li><a href="#">揭秘公安潜水大队</a></li>
								<li><a href="#">金正恩视察秧苗场</a></li>
								<li><a href="#">梅西笑容迷人</a></li>
							</ul>
						</div>
					</div>

					<!-- 所有新闻列表 -->
					<div class="news-list"></div>
				</div>
			</div>
			<!-- 推荐结束 -->

			<!-- 百家开始 -->
			<div class="hundred" id="hundred"></div>
			
			<!-- 百家结束 -->

			<!-- 本地开始 -->
			<div class="recoment" id="local">
				<!-- 图片轮换 -->
				<section class="pic-scroll">
					<div class="img-scroll-wrap clearfix">
						<ul>
							<li index="0">
								<img src="web/images/local1.jpg">
								<h4>北京科博会盛大开幕 完美世界萧泓受邀做专题演讲</h4>
							</li>
							<li index="1">
								<img src="web/images/local2.jpg">
								<h4>9个月拦截10亿电信诈骗资金 警方将返还受骗群众</h4>
							</li>
							<li index="2">
								<img src="web/images/local3.jpg">
								<h4>北京世界最大玻璃观景台迎客 上去腿都软了</h4>
							</li>
						</ul>
					</div>

					<div class="img-bar">
						<i class="cur-bar"></i>
						<i></i>
						<i></i>
					</div>
					
				</section>

				<div class="main-con">

					<!-- 所有新闻列表 -->
					<div class="news-list"></div>
				</div>
			</div>
			
			<!-- 本地结束 -->

			<!-- 图片开始 -->
			<div class="pics"></div>
			<!-- 图片结束 -->

			<!-- 娱乐开始 -->
			<div class="recoment" id="enjoy">
				<!-- 图片轮换 -->
				<section class="pic-scroll">
					<div class="img-scroll-wrap clearfix">
						<ul>
							<li index="0">
								<img src="web/images/timg (1).jpg">
								<h4>柯震东演了抗日剧 还搞了制服诱惑</h4>
							</li>
							<li index="1">
								<img src="web/images/timg (2).jpg">
								<h4>金正恩视察秧苗场 赞规模化和现代化</h4>
							</li>
							<li index="2">
								<img src="web/images/timg.jpg">
								<h4>揭秘公安潜水大队</h4>
							</li>
						</ul>
					</div>

					<div class="img-bar">
						<i class="cur-bar"></i>
						<i></i>
						<i></i>
					</div>
					
				</section>

				<div class="main-con">
					<!-- 向上滚动的新闻 -->
					<div class="hot-news">
						<div class="hot-icon">
							<span>热点</span>
						</div>
						<div class="news-scroll">
							<ul>
								<li><a href="#">揭秘公安潜水大队</a></li>
								<li><a href="#">金正恩视察秧苗场</a></li>
								<li><a href="#">梅西笑容迷人</a></li>
							</ul>
						</div>
					</div>

					<!-- 所有新闻列表 -->
					<div class="news-list"></div>
				</div>
			</div>
			<!-- 娱乐结束 -->

			<!-- 社会开始 -->
			<div class="recoment" id="society">
				<!-- 图片轮换 -->
				<section class="pic-scroll">
					<div class="img-scroll-wrap clearfix">
						<ul>
							<li index="0">
								<img src="web/images/society1.jpg">
								<h4>360万奔驰跑车追尾雪弗兰 伤得不轻</h4>
							</li>
							<li index="1">
								<img src="web/images/timg (2).jpg">
								<h4>金正恩视察秧苗场 赞规模化和现代化</h4>
							</li>
							<li index="2">
								<img src="web/images/timg.jpg">
								<h4>揭秘公安潜水大队</h4>
							</li>
						</ul>
					</div>

					<div class="img-bar">
						<i class="cur-bar"></i>
						<i></i>
						<i></i>
					</div>
					
				</section>

				<div class="main-con">
					<!-- 向上滚动的新闻 -->
					<div class="hot-news">
						<div class="hot-icon">
							<span>热点</span>
						</div>
						<div class="news-scroll">
							<ul>
								<li><a href="#">揭秘公安潜水大队</a></li>
								<li><a href="#">金正恩视察秧苗场</a></li>
								<li><a href="#">梅西笑容迷人</a></li>
							</ul>
						</div>
					</div>

					<!-- 所有新闻列表 -->
					<div class="news-list"></div>
				</div>
			</div>
			<!-- 社会结束 -->





		</div>	
		<!-- 回到顶部 -->
		<div class="goTop"></div>

	</div>
	
	<script type="text/javascript" src="web/js/sea.js"></script>
	<script type="text/javascript">
		seajs.config({
			base:"./web/js/",
			alias:{
				"jquery":"jquery-2.2.3.min"
			}
		});

		seajs.use("main");
	</script>

</body>
</html>