body{
	background:#e2e2e2;
	height:100%;
}
*{
	color:#323232;
	font-size:14px;
}
.find_bg{
	float:left;
	width:970px;
	min-height:326px;
	margin:0px 0px 20px 15px;
	padding:50px 0px 20px 0px;
	border-bottom:1px solid #d9d9d9;
	background:url("/apps/study/Public/Images/Home/find_password_bg.jpg") no-repeat #f7f7f7;
	_height:326px;
}
h3{
	font-weight:normal;
	font-size:25px;
	margin-left:35px;
}
.find_step li{
	float:left;
	width:130px;
	height:38px;
	line-height:38px;
	color:#363636;
	font-size:14px;
}
.find_step li span{
	float:left;
	display:block;
	width:35px;
	height:34px;
	background:url("/apps/study/Public/Images/Home/find_password.png") no-repeat -61px -3px;
}
.find_step li span.find_red{
	background-position:-9px -3px;
}
.find_step li cite{
	float:left;
	width:90px;
	margin-left:5px;
	line-height:34px;
}
.find_center{
	float:left;
	width:100%;
	margin-top:50px;
	min-height:260px;
}
.name_main li{
	float:left;
	width:100%;
	margin-bottom:15px;
}
.name_main li label,.name_main li input,.name_main li span,.name_main li p{
	float:left;
	line-height:45px;
	margin-right:10px;
	color:#3e3e3e;
}
.name_main li label{
	width:300px;
	margin-right:15px;
	color:#191f15;
	text-align:right;
}
.name_main li input{
	width:237px;
	height:43px;
	padding-left:8px;
}
.name_main li input.name_codede{
	width:95px;
}
.name_main li input.name_submit{
	width:106px;
	height:24px;
	line-height:20px;
	margin:10px 0px 0px 20px;
	padding-left:0px;
	cursor:pointer;
}
.center_step{
	float:left;
	display:block;
	width:250px;
	height:40px;
	margin-top:10px;
	background:url("/apps/study/Public/Images/Home/find_password.png") no-repeat -129px 0px;
	cursor:pointer;
}
.name_step{
	display:inline;
	margin-left:315px;
}
.name_up{
	float:left;
	margin:10px 0px 0px 418px;
	text-decoration:underline;
	cursor:pointer;
}
.name_main li.name_problem span,.name_main li.name_problem label{
	line-height:25px;
}
.name_main li p{
	width:109px;
	height:41px;
	margin-right:20px;
	background:url("/apps/study/Public/Images/Home/find_password.png") no-repeat 0px -83px;
	cursor:pointer;
}
.name_main li .name_myName{
	padding-left:20px;
	color:#0e8d44;
}
.name_main li p.code_mail{
	width:109px;
	background-position:-129px -83px;
}
.name_main li p.code_ask{
	width:122px;
	background-position:-257px -83px;
}
.name_main li p.code_phoh{
	background-position:-0px -40px;
}
.name_main li p.code_mailh{
	width:109px;
	background-position:-129px -40px;
}
.name_main li p.code_askh{
	width:122px;
	background-position:-257px -40px;
}
.center_code p{
	line-height:30px;
	padding-left:40px;
}
.center_code p.center_cue{
	color:#d55e64;
	margin-top:20px;
}
.sub_nomail{
	height:40px;
	line-height:35px;
	margin:100px 0px 0px 280px;
	padding-left:40px;
	background:url("/apps/study/Public/Images/Home/find_false.png") no-repeat;
}
.name_main li span.phone_mai a{
	color:#2362e2;
	cursor:pointer;
}
.name_main li span.phone_send a{
	color:#44a469;
	cursor:pointer;
}
.find_finish{
	color:#a21a26;
	font-size:25px;
	margin:150px 0px 0px 250px;
}
.find_return{
	margin:30px 0px 0px 400px;
}
.find_return .re_number{
	color:#a21a26;
}
/*
.center_name{
	margin-left:213px;
}
.center_name div{
	margin-bottom:16px;
	clear:both;
}
.center_name div span{
	float:left;
	width:81px;
	line-height:43px;
	font-size:14px;
}
.center_name div input{
	float:left;
	width:243px;
	height:43px;
	line-height:38px;
	padding-left:10px;
	border:1px solid #e7e7e7;
	border-top-color:#c6c6c6;
	color:#b3b3b3;
}.center_name div p{
	float:left;
}
.center_name .center_codede{
	width:94px;
}
.center_name a{
	margin:31px 0px 0px 166px;s
}
.center_step{
	display:block;
	width:250px;
	height:40px;
	background:url("/Public/Images/Home/find_password.png") no-repeat -129px 0px;
}
.center_code{
	padding:0px 0px 25px 40px;
}
.center_code div.code_sub{
	
}
.code_header{
	padding-left:211px;
}
.code_header span{
	float:left;
	line-height:36px;
}
.code_header ul{
	float:left;
	padding-left:20px;
}
.code_header ul li{
	float:left;
	width:109px;
	height:41px;
	margin-right:20px;
	background:url("/Public/Images/Home/find_password.png") no-repeat 0px -83px;
	cursor:pointer;
}
.code_header ul li.code_mail{
	width:109px;
	background-position:-129px -83px;
}
.code_header ul li.code_ask{
	width:122px;
	background-position:-257px -83px;
}
.code_header ul li.code_pho{
	background-position:-129px -40px;
}
.code_header ul li.code_mailh{
	width:109px;
	background-position:-129px -40px;
}
.code_header ul li.code_askh{
	width:122px;
	background-position:-257px -40px;
}
.center_code p{
	line-height:30px;
}
.center_code p.center_cue{
	color:#d55e64;
	margin-top:68px;
}
.code_way,.sub_mail{
	padding:30px 0px 0px 183px;
}
.code_way span{
	float:left;
	width:140px;
	line-height:43px;
}
.code_way .code_number{
	line-height:43px;
	padding-left:30px;
}
.code_way .code_gain{
	margin:0px 0px 15px 158px;
	padding:1px;
}
.code_way .code_code{
	width:248px;
	height:43px;
	line-height:43px;
	margin-left:17px;
}
.code_way a.{
	margin-left:260px;
	text-decoration:underline;
}
.code_way a.center_step{
	margin:33px 0px 15px 158px;
}
.sub_nomail{
	height:40px;
	line-height:30px;
	margin:50px 0px 0px 280px;
	padding-left:40px;
	background:url("/Public/Images/Home/find_false.png") no-repeat;
}
.sub_mail span{
	float:left;
	width:140px;
	line-height:43px;
}
.sub_mail .code_number{
	line-height:43px;
	padding-left:30px;
}
.code_pho{
	position:relative;
	margin-left:160px;
}
.code_pho p{
	float:left;
	margin-right:10px;
}
.code_pho p.phone_mai a{
	color:#2362e2;
}
.code_pho p.phone_send a{
	color:#44a469;
}
.code_pho .code_up{
	position:absolute;
	left:120px;
	top:80px;
	text-decoration:underline;
}
.code_problem{
	margin:20px 0px 0px 120px;
}
.code_problem .problem_sub{
	margin-left:150px;
}
.code_problem .problem_sub span{
	line-height:45px;
}
.code_problem .problem_sub input{
	width:243px;
	height:43px;
	line-height:38px;
	padding-left:10px;
	border:1px solid #e7e7e7;
	border-top-color:#c6c6c6;
}
.code_problem .center_step{
	margin:25px 0px 10px 211px;
}
.code_problem .center_up{
	margin-left:315px;
	text-decoration:underline;
}
.code_reset{
	padding-left:230px;
}
.code_reset p{
	padding-bottom:20px;
}
.code_reset p cite{
	color:#058c53;
}
.code_reset div{
	margin-bottom:16px;
	clear:both;
}
.code_reset div span{
	float:left;
	width:120px;
	line-height:43px;
	font-size:14px;
}
.code_reset div input{
	width:243px;
	height:43px;
	line-height:38px;
	padding-left:10px;
	border:1px solid #e7e7e7;
	border-top-color:#c6c6c6;
	color:#b3b3b3;
}
.code_reset div input.center_code{
	width:94px;
	height:0px;
}
.code_reset a{
	margin:31px 0px 0px 166px;s
}
.code_reset .reset_code{
	width:100px;
}
.code_reset .center_step{
	margin:0px 0px 10px 120px;
}
.code_reset .reset_up{
	margin-left:225px;
	text-decoration:underline;
}
.code_succeed{
	padding:50px 0px 0px 200px;
}
.code_succeed p{
	color:#a21a26;
	font-size:25px;
	padding-bottom:35px;
}
.code_succeed span{
	padding-left:130px;
}
.code_succeed cite{
	color:#a21a26;
}
*/