.group_right{
    width:764px;
    padding-top:25px;
}
.group_right ul li{
    float:left;
    width:150px;
    height:46px;
    line-height:46px;
    text-align:center;
    color:#999;
    font-size:18px;
    cursor:pointer;
}
.group_right ul li.group_hover{
    background:url("/apps/study/Public/Images/Home/group_li.png") no-repeat bottom;
    color:#333;
    font-weight:bold;
}
.group_right a.group_add{
    float:right;
    display:block;
    width:76px;
    height:38px;
    line-height:38px;
    padding-left:50px;
    border:1px solid #e5e5e5;
    background:url("/apps/study/Public/Images/Home/lesson.png") no-repeat -120px -38px;
    color:#555555;
    font-size:14px;
}
.group_right a.group_add:hover {
    background-position:-121px 0px;
}
.group_center {
    float:left;
    width:742px;
    min-height:845px;
    padding-top:19px;
    border:1px solid #cdcdcd;
    border-top:none;
    background:#f2f2f2;
    padding:10px 0px 10px 15px;
    _width:750px;
    _height:845px;
}
.group_center div.group_content,.group_center div.gro_app{
    margin-right:20px;
    margin-bottom:15px;
}
.group_content,.gro_append,.gro_app {
    float:left;
    width:220px;
    height:100px;
    padding-top:5px;
    margin:3px 0px 0px -1px;
    border:1px solid #e1e1e1;
    margin-left:3px;
}
.group_content div{
    width:100px;
    _width:137px;
}
.group_center .group_content a {
    float:left;
}
.group_content div p{
    float:left;
    width:100%;
    color:#2c2c2c;
    font-size:16px;
    clear:both;
}
.group_content a img {
    margin-left:5px;
}
.group_content div a{
    display:inline;
    float:left;
    margin:5px 10px 0px 0px;
    color:#a3a3a3;
    font-size:14px;
    overflow:hidden;
    _margin-right:8px;
}
.group_content div a:hover{
    color:#3aba6e;
}
.group_content img {
    width:96px;
    height:96px;
}
/*群组成员*/
#member_header li{
    width:178px;
    height:46px;
    line-height:46px;
}
#member_header li.group_hover{
    background:url("/apps/study/Public/Images/Home/group_li.png") no-repeat 83px 37px;
}
.member_title,.crowd_auth{
    float:left;
    padding:7px 0px 0px 4px;
}
.crowd_auth{
    width:745px;
    height:750px;
    overflow:auto;
}
.leagure_html {
    clear:both;
}
.group_right .member_title span{
    cursor:pointer;
    float:left;
    width:123px;
    height:63px;
    line-height:63px;
    margin-left:3px;
    text-align:center;
    background:#c6e4c9;
    color:#17974b;
    font-size:14px;
}
.group_right .member_title span.member_leagure{
    background:url("/apps/study/Public/Images/Home/group_members.jpg") no-repeat 0px 0px;
    color:#fff;
}
.member_tab{
    width:100%;
    padding-top:24px;
}
.member_tab .group_content div{
    padding-top:15px;
}
.member_tab .group_content a{
    margin:2px 0px 0px 15px;
    color:#3aba6e;
}
.member_tab .group_content a.memeber_headman{
    color:#c95858;
}
.member_tab .group_content img{
    display:block;
    width:96px;
    height:96px;
}
/*select开始*/
.member_tab .group_content .mod_select{
    padding:0px
}
.mod_select .mod_ul li{
    width:90px;
    list-style-type:none;
    float:left;
    margin:10px 0px 0px 0px;
    height:39px;
}
.member_tab .group_content div.select_box{
    padding-top:0px;
    float:left;
    color:#444;
    position:relative;
    cursor:pointer;
    width:80px;
    font-size:12px;
    height:39px;
    line-height:39px;
    background:url("/apps/study/Public/Images/Home/group_members.jpg") no-repeat -0px -63px;
}
.member_tab .group_content .selet_open{
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:39px;
    margin:0px;
}
.member_tab .group_content div.select_box span.select_txt{
    display:inline-block;
    padding-left:6px;
    width:74px;
    line-height:39px;
    height:39px;
    cursor:text;
    overflow:hidden;
    color:#727272;
    font-family:"宋体",SimSun;
    font-size:12px;
    text-align:left;

}
.member_tab .group_content div div.option{
    border:solid 1px #e3e3e3;
    position:absolute;
    top:39px;
    left:0px;
    z-index:2;
    overflow:hidden;
    display:none;
    border-top:none;
    padding:0px;
    _width:86px;
}
.member_tab .group_content div div.option a{
    display:block;
    height:26px;
    line-height:26px;
    text-align:left;
    padding:0 10px;
    width:100%;
    background:#fff;
    color:#727272;
    font-family:"宋体",SimSun;
    font-size:12px;
    margin:0px;
}
.member_tab .group_content div div.option a:hover{
    background:#c6c6c6;
}
/*select结束*/
.member_tab .group_content .group_append{
    width:48px;
    height:48px;
    margin:20px auto;
    margin-bottom:10px;
    background:url("/apps/study/Public/Images/Home/group_members.jpg") no-repeat -88px -63px;
}
.member_tab .group_content center{
    color:#dfdfdf;
    font-size:14px;
}
.group_center .group_content div{
    display:inline;
    margin-left:10px;
    _width:106px;
}
.group_center .group_content div .gro_number{
    width:90px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;

}
/*群组动态*/
.member_tab .trends_content li{
    float:left;
    width:100%;
    height:85px;
    padding-top:25px;
    border-bottom:1px dashed #DCD9D5;
}
.member_tab .trends_content li img{
    float:left;
    margin:0px 15px 0px 27px;
}
.member_tab .trends_content li p{
    line-height:25px;
    color:#A6A29D;
    font-size:14px;
    text-align:left;
}
.member_tab .trends_content li p span{
    color:#6781A8;
}
.member_tab .trends_content li p cite{
    padding-left:12px;
}
#trends_title{
    position:relative;
}
#trends_title a.trends_click{
    position:absolute;
    left:0px;
    bottom:0px;
    display:block;
    width:100%;
    height:48px;
    line-height:48px;
    text-align:center;
    color:#6781A8;
    font-size:14px;
}
/*创建加入群组*/
.add_class,.found_class{
    margin-top:10px;
    padding:0px 10px;
}
.add_span,.groupAdd{
    float:left;
    line-height:36px;
    font-size:14px;
}
.groupAdd{
    display:block;
    width:60px;
    border:1px solid #22a056;
    border-radius:2px;
    background:url("/apps/study/Public/Images/Home/btns.png") no-repeat -1px -1px;
    color:#ffffff;
    text-align:center;
    cursor:pointer;
}
.groupAdd:hover{
    background-position:-1px -38px;
}
.add_input{
    float:left;
    width:170px;
    height:36px;
    line-height:36px;
    margin:0px 20px 0px 5px;
    padding-left:5px;
    border:1px solid #e1e1e1;
}
.found_input{
    width:220px;
    margin-left:10px;
}
.found_class .add_name{
    max-height:250px;
    width:340px;
    overflow:auto;
}
.found_class div{
    display:none;
    width:340px;
    float:left;
}
.found_class div span{
    float: left;
    height:28px;
    line-height:28px;
    padding: 0px 20px;
    margin:10px 0px 0px 5px;
    border: 1px solid #20D691;
    overflow: hidden;
    cursor: pointer;
}
.found_class div span.still {
    background: url("/apps/study/Public/Images/Ilc/hitdel.png") no-repeat scroll right top transparent;
    border: 1px solid #20D691;
    cursor: pointer;
    height:28px;
    line-height:28px;
    padding:0px 20px;
}
.found_class div span.on {
    background: url("/apps/study/Public/Images/Ilc/hitchoose.png") no-repeat scroll right top transparent;
    border: 1px solid #20D691;
    cursor: pointer;
}
.found_class div a{
    float:left;
    line-height:36px;
    margin-top: 10px;ss
    font-size:14px;
}
.found_class div a:hover{
    color:#3aba6e;
}
.gro_append{
    filter:alpha(opacity=80);
    opacity:0.8;
}
.gro_appendd{
    filter:alpha(opacity=100);
    opacity:1;
}
.gro_append span{
    display:block;
    width:81px;
    height:78px;
    margin:2px auto;
    background:url("/apps/study/Public/Images/Home/mould.png") no-repeat -268px 0;
}
.gro_append center{
    color:#727272;
}
.gro_appendd center{
    color:#3aba6e;
}

.gro_app{
    filter:alpha(opacity=80);
    opacity:0.8;
}
.gro_appd{
    filter:alpha(opacity=100);
    opacity:1;
}
.gro_app span{
    display:block;
    width:81px;
    height:78px;
    margin:2px auto;
    background:url("/apps/study/Public/Images/Home/mould.png") no-repeat -268px 0;
}
.gro_app center{
    color:#727272;
}
.gro_appd center{
    color:#3aba6e;
}
.choose_list{
    margin:50px 300px;
}
/*侯祯怿 5-21*/
#member_header{
    width:762px;
}
#member_header a{
    float:right;
    margin-right:30px;
    line-height:46px;
    color:#040404;
    font-size:18px;
}
#member_header a:hover {
    color:#22a558;
}
/*消除标题加粗 Crowd/index 5-23*/
.group_right ul li.group_hover{
    font-weight:400;
}
.group_right .gro_cluster li{
    font-size:18px;
}
/*Crowd/space/id/5 群组名称判断*/
.informa_tion p.fl{
    margin-left:5px;
    line-height:28px;
}
/*信息样式*/
.found_classname{
    width:475px;
}
.found_classname .classname_main{
    width:475px;
    margin:0px auto;
}
/*.found_classname .classname_main .school_ty,.classname_searche input {
    margin-left:65px;
}*/
.found_classname .classname_main select{
    width:150px;
    height:28px;
    margin:5px 5px 5px 0px;
    line-height:28px;
}
.classname_searche{
    float:left;
    margin:10px 0;
}
.found_classname input.classname_input{
    float:left;
    width:370px;
    height:35px;
    padding-left:5px;
    line-height:35px;
}
.found_classname a{
    float:left;
    width:60px;
    height:36px;
    line-height:36px;
    margin-left:20px;
    border:1px solid #22a056;
    background:url("/apps/study/Public/Images/Home/btns.png") no-repeat -1px -1px;
    text-align:center;
    color:#fff;
    cursor:pointer;
}
.found_classname a:hover{
    background-position: -1px -38px;
}
.classname_main .classmain_number{
    padding:20px 30px 0px 50px;
}
.classname_main ul {
    clear:both;
}
.classname_main ul li {
    float: left;
    height:28px;
    line-height:28px;
    padding: 0px 20px;
    margin:0px 8px 8px 0px;
    border: 1px solid #20D691;
    overflow: hidden;
    cursor: pointer;
}
.classname_main ul li:hover {
    color:#26a75b;
}
.classname_main ul li.still {
    background: url("/apps/study/Public/Images/Ilc/hitdel.png") no-repeat right top;
    border: 1px solid #20D691;
    cursor: pointer;
}
.classname_main ul li.on {
    background: url("/apps/study/Public/Images/Ilc/hitchoose.png") no-repeat right top;
    border: 1px solid #20D691;
    cursor: pointer;
}
.informa_tion{
    float:left;
    width:100%;
}
.informa_tion div {
    width:600px;
    margin:30px auto;
}
.informa_tion div span {
    float:left;
    font-size:14px;
    line-height:30px;
    margin-right:15px;
    color:#3e3e3e;
}
.informa_tion div input{
    float:left;
    display:block;
    margin-bottom:15px;
}
.informa_tion .tion_text{
    width:200px;
    height:28px;
    line-height:28px;
    padding-left:5px;
    border:1px solid #e3e3e3;
    border-top:1px solid #9e9e9e;
}
.informa_tion input.tion_file{
    background:#fff;
    width:250px;
    height:25px;
    margin-top:2px;
}
/*Crowd/space 按钮样式*/
.informa_tion input.tion_submit,.informa_tion input.tion_reset{
    display:block;
    width:174px;
    height:38px;
    line-height:38px;
    border:none;
    text-align:center;
    margin:20px 10px 0px 0px;
    _margin-top:-20px;
    *margin-top:-20px;
    color:#fff;
    cursor:pointer;
    font-size:14px;
}
.informa_tion input.tion_submit {
    background:url("/apps/study/Public/Images/Home/btns.png") no-repeat 0px 0px;
}
.informa_tion input.tion_submit:hover {
    background:url("/apps/study/Public/Images/Home/btns.png") no-repeat 0px -38px;
}
.informa_tion input.tion_reset {
    color:#292929;
    background:url("/apps/study/Public/Images/Home/btns.png") no-repeat -174px 0px;
}
.informa_tion input.tion_reset:hover {
    background:url("/apps/study/Public/Images/Home/btns.png") no-repeat -174px -38px;
}
.ui-dialog .ui-dialog-titlebar {
    width:91%;
}
.check_auth {
    display:none;
}

.notrend{
    text-align:center;
}
.notrend a{
    color: #3E3E3E;
    font-size: 16px;
    line-height: 30px;
}
.notrend a:hover {
    color:#6781A8;
}