.main_middle {
    float:left;
    width:520px;
    margin:25px 20px 0 20px;
    _margin:25px 10px 0 10px;
    position:relative;
    display:block;
    white-space:nowrap;
    zoom:1;
}
.m_tab_menu{
    position: absolute;
    left: 40px;
    top: 0;
    overflow:hidden;
    width:440px;
    height:55px;
    white-space:nowrap;
}
.m_tab_menu ul{
    float:left;
    position: absolute;
    left: 0;
    top: 0;
}
.m_tab_menu li {
    float:left;
    width:146px;
    height:55px;
    line-height:55px;
    text-align:center;
    cursor:pointer;
    border-bottom:none;
    font-size:15px;
    color:#A6A2A0;
    white-space:nowrap;
    display:inline;
}
.m_tab_menu li.current{
    color:#282928;
    font-weight:bold;
    background:url('/apps/study/Public/Images/Home/d_selected.png') no-repeat bottom;
    position:relative;
    display:inline;
}
.main_middle .to-left {
    width:20px;
    height:20px;
    background:url('/apps/study/Public/Images/Home/to-left.png');
    margin-top:20px;
    margin-bottom: 15px;
    cursor:pointer;
}
.main_middle .to-right {
    width:20px;
    height:20px;
    background:url('/apps/study/Public/Images/Home/to-right.png');
    margin-top:20px;
    margin-bottom: 15px;
    cursor:pointer;
}
ul.m_tab_box{
    float:left;
    width:530px;
    height:838px;
    background:#F3F2F0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    overflow:hidden;
}
.m_tab_box #scroll_box{
    float:left;
    width:530px;
    height:840px;
}
#scroLeft {
    float: left;
    width: 522px;
    height: 100%;
    overflow: hidden;
}
ul.m_tab_box ul{
    float:left;
    width:520px;
}
ul.m_tab_box ul li{
    width:500px;
    float:left;
    margin:15px 5px 0 15px;
    border-bottom:1px dashed #DCD9D5;
    padding:20px 0;
    display:inline;
}
ul.m_tab_box ul li img{
    float:left;
}
ul.m_tab_box ul li p{
    float:left;
    width:430px;
    margin:0 10px;
    color:#A6A29D;
    font-size:14px;
}
ul.m_tab_box ul li p:nth-child(3){
    margin-top:10px;
}
ul.m_tab_box ul li p a.name{
    float:left;
    color:#6781A8;
    font-size:14px;
}
ul.m_tab_box ul li p a.date{
    float:right;
    color:#A6A29D;
    font-size:13px;
    margin-right: 15px;
}
ul.m_tab_box ul li p cite{
    color:#6781A8;
}
#scroRight{
    background:#999;
    background:rgba(0,0,0,0.1);
    float:right;
    height:100%;
    width:8px;
    border-radius:10px;
    overflow:hidden;
    position:relative;
}
#scroLine{
    position:absolute;
    z-index:1;
    top:0;
    right:0;
    width:8px;
    background:url('/apps/study/Public/Images/Home/opacity_70.png');
    background:rgba(0,0,0,0.3);
    opacity:0.7;
    border-radius:10px;
    cursor:pointer;
}
.notrend{
    float:left;
    width:100%;
    height:auto;
    line-height:30px;
    text-align:center;
    font-size:14px;
    margin-top:10px;
    margin-bottom:10px;
    position:absolute;
    bottom:20px;
}
.right_sider {
    width:225px;
    height:auto;
    margin-top:25px;
}
.right_sider .upload_num{
    width:100%;
    height:55px;
    line-height:55px;
    font-size:16px;
    color:#A6A29D;
}
.right_sider .upload_num cite{
    color:red;
}
.right_sider .right_sider_box{
    float:left;
    width:225px;
    height:838px;
    background:#F3F2F0;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    overflow: hidden;
}
.right_sider .right_sider_box .upload_doc {
    float:left;
    width:203px;
    height:37px;
    background:url('/apps/study/Public/Images/Home/teacher_space.png') 0px 0px;
    margin:15px 0 20px 10px;
}
.right_sider .right_sider_box .upload_doc:hover {
    width:203px;
    height:37px;
    background:url('/apps/study/Public/Images/Home/teacher_space.png') 0px -37px;
}
.right_sider .upload_doc img{
    margin:15px 10px;
}
.right_sider div form{
    width:203px;
    height:37px;
    background:url('/apps/study/Public/Images/Home/indexSearch.png') no-repeat;
    padding:0 0 15px 0;
    margin-left:10px;
    overflow: hidden;
}
.right_sider div form input.searchinput{
    width:150px;
    height:37px;
    _line-height:37px;
    padding-left: 15px;
    _padding-left: 0;
    background: none;
    border: none;
    color: #C2C2C2;
    outline: medium;
    display:inline;
}
.right_sider div form input.searchsub{
    width: 38px;
    height:37px;
    margin-top: 1px;
    background: none;
    border: none;
    cursor: pointer;
}
.right_sider .calendar{
    width:100%;
    height:225px;
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}
.right_sider .groupDyn{
    float:left;
    width:225px;
    height:480px;
    background:#EBE9E7;
    margin-top:28px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.right_sider .groupDyn ul{
    width:200px;
    float:left;
    overflow:hidden;
}
.right_sider .groupDyn ul li{
    width: 100%;
    float: left;
    margin-left: 15px;
    border-bottom: 1px dashed #DCD9D5;
    padding: 20px 0;
    display: inline;
}
.right_sider .groupDyn ul li a{
    float:left;
}
.right_sider .groupDyn ul li p{
    float:left;
    display:inline;
    width:140px;
    margin-left:10px;
    overflow:hidden;
    color:#7F7C77;
    font-size:12px;
}
.right_sider .groupDyn ul li p a.name{
    float:left;
    color:#6781A8;
    font-weight:bold;
    font-size:12px;
}
.right_sider .groupDyn ul li p a.date{
    float:right;
    color:#A6A29D;
    font-size:11px;
}
#showTag input {
    width:363px;
    height:39px;
    border:0;
    margin-top:10px;
    background:url('/apps/study/Public/Images/Home/cc_input.png');
}
/*样式调整5-22*/
.not_not {
	width:522px;
	text-align:center;
    position: relative;
    top: 0;
}
.not_not a{
	line-height:50px;
	font-size:18px;
	color:red;
}
/*Space 作业管理*/
.notrend a{
	color: #3E3E3E;
	font-size: 18px;
	text-align: center;
	line-height:30px;
}
.m_tab_menu li{
	font-size:18px;
}
.m_tab_menu li.current{
	font-weight:400;
}